.App {
  text-align: center;
}
.form{
  margin: 0px 300px;
}
.header{
  background-color: beige;
  padding-top: 0px;
}
.data{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.data-val{
  display: flex;
  justify-content:space-between;
  padding: 5px 15px;
  width: 50%;
  margin-top: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}